
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/faculty.css" type="text/css">
    <title>Go Student Faculty</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="header">
    <img class="logo" src="img/logo.png" alt="Go Student"/>
    <img class="logo1" src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" alt="BML Munjal University"/>
    <div class="navbar"> 
      <a href="social.ejs">Social</a>
      <a href="home.ejs">Complaints</a>
      <a href="news.ejs">News</a>
      <a href="faculty.ejs">Faculty</a>
      <a href="login.ejs"><button class="button">login/signup</button><a href=""></a>
    </div> 
  </div>


  <div class="row">
    <h2 style="font-size: 50px; margin-top:50px;">Faculty</h2>
    <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2021/06/AB1-2.jpg" alt="Prof. (Dr.) Anirban Chakraborti" style="width:200px;border-radius:20px;">
        <div class="container">
          <h2>Prof.Anirban Chakraborti</h2>
          <p class="title">Dean, School of Engineering and Technology</p>
          <p> Ph.D. from Jadavpur University</p>
          <p>anirban@bmu.edu.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2019/01/ak_prasad.jpg" alt=" A.K Prasada Rao" style="width:200px;border-radius:20px;">
        <div class="container">
          <h2>Dr. A.K Prasada Rao</h2>
          <p class="title">Professor, School of Engineering and Technology</p>
          <p>
            Ph.D. from IIT Kharagpur</p>
          <p>a.k.prasad@bmu.edu.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2018/12/25.png" alt="Dr. Sarabjot Singh Anand" style="width:200px;border-radius:20px;">
        <div class="container">
          <h2> Dr. Sarabjot Singh Anand </h2>
          <p class="title">Director - Computer Science & Engineering, SOET</p>
          <p>Ph.D. from University of Ulster.
          </p>
          <p>sarabjot@bmu.edu.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2021/10/274x299_DP.jpg" alt="Dr. Deepak Pandit " style="width:200px; border-radius:20px;">
        <div class="container">
          <h2> Dr. Deepak Pandit </h2>
          <p class="title">Chair Professor - Innovation and Entrepreneurship BML MUNJAL UNIVERISTY</p>
          <p>deepak@bmu.edu.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2019/02/56.png" alt="Dr. Kiran Khatter " style="width:210px; height: 220px;border-radius:20px;">
        <div class="container">
          <h2> Dr. Kiran Khatter </h2>
          <p class="title">Associate Professor, School of Engineering and Technology</p>
          <p>Ph.D. from H.P University, Summerhill
          </p>
          <p>kiran.khatter@bmu.edu.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    
  <div class="column">
      <div class="card">
        <img src="https://www.bmu.edu.in/wp-content/uploads/2020/06/Dr.-Yogesh-Gupta.jpg" alt="Dr. Yogesh Gupta " style="width:210px; height: 220px;border-radius:20px;">
        <div class="container">
          <h2> Dr. Yogesh Gupta </h2>
          <p class="title">Associate Professor, School of Engineering and Technology</p>
          <p>Ph.D. from Dayalbagh Educational Institute
          <p>yogesh.gupta@bmu.edu.in</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tail">
    <div style="display: inline-flex; margin-top: 10px; font-size: 20px;">
    <p>Email:<a href="info@bmu.edu.in">info@bmu.edu.in</a></p><br>
    <p><a href="https://www.bmu.edu.in/">www.bmu.edu.in</a></p>
    </div>
    

    <div style="display: inline-flex;margin-top: 20px; font-size: 15px;">
      <pre style="color: white;">
      E: admissions@bmu.edu.in
      T: 1800-103-6888 (toll free)
      SMS ‘BMU’ to 92200 92200
      </pre>
    </div>
    <div class="linktail">
      <a><img src="img/fb.png"></a>
      <a><img src="img/linkdin.png"></a>
      <a><img src="img/twiter.png"></a>
      <a><img src="img/YOUTUBE.png"></a>
      <a><img src="img/INSTA.png"></a>
    </div>
    <img src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" style="height: 100px; width: 250px; position:absolute; right: 10px; top:15px; display: inline-flex;">
  </div>

</body>
</html>



