<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title>Go Student</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="img/logo.png" alt="Go Student"/>
        <img class="logo1" src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" alt="BML Munjal University"/>
        <div class="navbar"> 
            <a href="social.ejs">Social</a>
            <a href="#complaint">Complaints</a>
            <a href="#home_news">News</a>
            <a href="#home_faculty">Faculty</a>
            <a href="login.ejs"><button class="button">login/signup</button><a href=""></a>
        </div> 
    </div>
    <div class="main"></div>
    <div class="overflow">
        <h1 class="headding1" >WELCOME TO</h1>
        <h1 class="headding2">STUDENT COMMUNITY</h1>
    </div>
    <div id="home_news">
        <h1>News</h1>
        <div class="slidebody">
            <div class="headline"><span></span></div>
        </div>
        <button><a href=news.ejs>Click for More</a></button>
    </div>
    <div class="facultyimg"></div>
    <div id="home_faculty">
        <h1>Faculty Information</h1>
        <div class="infobox">
            <img src="https://www.bmu.edu.in/wp-content/uploads/2021/06/AB1-2.jpg" alt="Prof. (Dr.) Anirban Chakraborti">
            <div class="container">
                <h3>Prof.Anirban Chakraborti</h3>
                <p>Dean, School of Engineering and Technology</p>
                <p> Ph.D. from Jadavpur University
                </p>
                <p>anirban@bmu.edu.in</p>
            </div>
        </div>
        <div class="infobox">
            <img src="https://www.bmu.edu.in/wp-content/uploads/2019/01/ak_prasad.jpg" alt=" A.K Prasada Rao" >
            <div class="container">
                <h3>Dr. A.K Prasada Rao</h3>
                <p class="title">Professor, School of Engineering and Technology</p>
                <p>
                Ph.D. from IIT Kharagpur</p>
                <p>a.k.prasad@bmu.edu.in</p>
            </div>
        </div>
        <div class="infobox">
            <img src="https://www.bmu.edu.in/wp-content/uploads/2018/12/25.png" alt="Dr. Sarabjot Singh Anand" >
            <div class="container">
                <h3> Dr. Sarabjot Singh Anand </h3>
                <p class="title">Director - Computer Science & Engineering, SOET</p>
                <p>Ph.D. from University of Ulster.</p>
                <p>sarabjot@bmu.edu.in</p>
            </div>
        </div>
        <div class="infobox">
            <img src="https://www.bmu.edu.in/wp-content/uploads/2019/02/56.png" alt="Dr. Kiran Khatter ">
            <div class="container">
                <h3> Dr. Kiran Khatter </h3>
                <p class="title">Associate Professor, School of Engineering and Technology</p>
                <p>Ph.D. from H.P University, Summerhill</p>
                <p>kiran.khatter@bmu.edu.in</p>
            </div>
        </div>
        <button><a href=faculty.ejs>Click for More</a></button>
    </div>
    <div class="complain" id="complaint">
        <h1>Complain Box</h1>
        <textarea placeholder="Comment your thoughts.." class="complainbox"></textarea>
        <img src="https://us.123rf.com/450wm/jamesstar/jamesstar2107/jamesstar210700016/172024821-complaints-box-with-suggestions.jpg?ver=6">
        <button>Submit</button>
    </div>
    <div class="tail">
        <div style="display: inline-flex; margin-top: 10px; font-size: 20px;">
        <p>Email:<a href="info@bmu.edu.in">info@bmu.edu.in</a></p><br>
        <p><a href="https://www.bmu.edu.in/">www.bmu.edu.in</a></p>
        </div>
        
    
        <div style="display: inline-flex;margin-top: 20px; font-size: 15px;">
          <pre style="color: white;">
          E: admissions@bmu.edu.in
          T: 1800-103-6888 (toll free)
          SMS ‘BMU’ to 92200 92200
          </pre>
        </div>
        <div class="linktail">
          <a><img src="img/fb.png"></a>
          <a><img src="img/linkdin.png"></a>
          <a><img src="img/twiter.png"></a>
          <a><img src="img/YOUTUBE.png"></a>
          <a><img src="img/INSTA.png"></a>
        </div>
        <img src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" style="height: 100px; width: 230px; position:absolute; right: 10px; top:15px; display: inline-flex;">
      </div>
</body>

</html>