<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <title>Login</title>
   </head>

   <body>
      <div class="center">
         <div class="header">
            Login Form
         </div>
         <form>
            <input  type="text" placeholder="Username">
            <i class="far fa-envelope"></i>
            <input id="pswrd" type="password" placeholder="Password">
            <i class="fas fa-lock" onclick="show()"></i>
            <button><a href="profile.ejs">Submit</a></button>
            <p>No account?</p>
            </a><button class="register"><a href="signup.ejs"> Register</a></button>
         </form>
      </div>
      <script>

      </script>
      
   </body>
</html>