
<!DOCTYPE html>
<html>
  <head>
    <title>news</title>
    <link rel="stylesheet" href="/css/news.css" type="text/css">
  </head>

  <body>
    <div class="header">
      <img class="logo" src="img/logo.png" alt="Go Student"/>
      <img class="logo1" src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" alt="BML Munjal University"/>
      <div class="navbar"> 
        <a href="social.ejs">Social</a>
        <a href="home.ejs">Complaints</a>
        <a href="news.ejs">News</a>
        <a href="faculty.ejs">Faculty</a>
        <a href="login.ejs"><button class="button">login/signup</button><a href=""></a>
      </div> 
  </div>

<section id="ABC">
<h1 style="font-size: 300%;text-align: center;">NEWS</h1 >



<h2 class="headding">Bmu Convacation 2022</h2>

<img src="https://aniportalimages.s3.amazonaws.com/media/details/ANI-20220909105955.jpg" alt="Pineapple" style=" margin-right:10px; float: right;width:45%;height:430px;margin-left:30px; padding-right: 30px; padding-top: 30px; border-radius: 100px;">
<p style="color: black;font-size: 20px; margin-left: 10px;margin-top: 120px;margin-bottom:160px; margin-right: 10px;">
 I can describe this last year before I moved to university as the most difficult. When you wait for time to pass, it becomes too long,

  So I got up at 9 and get ready to go to prom, I am so excited this day is finally coming , I have been waiting for so long where I  can live more freely, move out of my parents’ house, live on my own and rely on myself, work and stay up late.  As well as entering the university that I always dreamed of and worked hard to reach.
  
  Here I am getting up, getting dressed, and going to meet my friends before going to the party. I would very much like to go out today with my friends, and attend the dance, I would also like to give a simple speech to thank the principal, teachers and staff at the school, it has been a happy 11 years. I am very happy that they passed well, without any problems.

</p>

<hr>
<h2 class="headding" >Freshers Night</h2>

<img src="https://carmelcollegegoa.org/wp-content/uploads/2019/08/freshers-party.jpg" alt="Pineapple" style=" float: left;width:45%;height:430px;margin-left:10px;margin-right: 20px; padding-top: 30px; padding-left: 30px;border-radius: 100px;">
<p style="color: black;font-size: 20px; margin-left: 10px;margin-right: 10px;margin-top: 100px;">
  College fest is an annual cultural event at a college or university organized by the student community with the support of their Faculties, Principal and Management. Cultural means involving or concerning the arts with a deep sense of humor which is also a part of Cultural heritage. It involves participants from other colleges as well, so it’s also termed as inter collegiate Fest. Numbers of competitions are organized for students. Professional artist are also invited as guest or may be as judge so as to encourage more number of students to be a part of the Fest. Fests are usually funded through sponsors.


Every student should experience being a part of College Fest at least once during the course of their undergraduate studies. And here in Anna Leela College we give equal opportunity to all the students to be a part of our Inter Collegiate Fest “VISMAYA”.
<br>
</p>
</section>
<div class="tail">
  <div style="display: inline-flex; margin-top: 10px; font-size: 20px;">
  <p>Email:<a href="info@bmu.edu.in">info@bmu.edu.in</a></p><br>
  <p><a href="https://www.bmu.edu.in/">www.bmu.edu.in</a></p>
  </div>
  

  <div style="display: inline-flex;margin-top: 20px; font-size: 15px;">
    <pre style="color: white;">
    E: admissions@bmu.edu.in
    T: 1800-103-6888 (toll free)
    SMS ‘BMU’ to 92200 92200
    </pre>
  </div>
  <div class="linktail">
    <a><img src="img/fb.png"></a>
    <a><img src="img/linkdin.png"></a>
    <a><img src="img/twiter.png"></a>
    <a><img src="img/YOUTUBE.png"></a>
    <a><img src="img/INSTA.png"></a>
  </div>
  <img src="https://www.ic3conference.com/wp-content/uploads/2019/11/BML-Munjal-University-Logo-WEB.png" style="height: 100px; width: 250px; position:absolute; right: 10px; top:15px; display: inline-flex;">
</div>
  </body>
</html>