<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/post.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="container" id="imgBox">
        <div id="prevText"></div>
        <textarea id="textBox" placeholder="Add caption:"></textarea>
        <input type="file" accept="image/*" name="image" id="file" style="display:none;" onchange="loadFile(event)">
        <label for="file"><img src ="https://w7.pngwing.com/pngs/733/160/png-transparent-computer-icons-upload-youtube-icon-upload-miscellaneous-photography-sign-thumbnail.png" class="upload-icon"></label>

    </div>
<script>
var textBox = document.getElementById("textBox");
var imgBox = document.getElementById("imgBox");
textBox.onkeyup = textBox.onkeypress = function(){
    document.getElementById("prevText").innerHTML = this.value
    }

    var loadFile = function(event){
        imgBox.style.backgroundImage = "url("+URL.createObjectURL(event.target.files[0])+")";
    }
</script>    


    
</body> 
</html>