<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/signup.css" type="text/css">
     <title>Registration Form</title>
    
   </head>
   <style>
 
   </style>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input id="Fname" type="text" placeholder="Enter your name" required>
            <span></span>
          </div>
          <div class="input-box">
            <span class="details">Blood groop</span>
            <input id="blood" type="text" placeholder="Enter your username" required>
            <span></span>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input id="email"type="text" placeholder="Enter your email" required>
            <span></span>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input id="number"type="number" placeholder="Enter your number" required>
            <span></span>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input id="password" type="password" placeholder="Enter your password" required>
            <span></span>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input id="cPassword"type="password" placeholder="Confirm your password" required>
            <span></span>
          </div>

        </div>
        <div class="gender-details">
        <div class="button">
          <button href="login.ejs" >Register</button>
        </div>
      </form>
    </div>
  </div>
  

  <script src="../../js/dbcom/index.js"></script>
</body>

</html>